.loginout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-button {
    background-color: var(--bold-green);
    border: 1px solid var(--text-green);
    padding: 10px;
    border-radius: 20px;
    min-width: 60px;
    width: 60%;
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.account-input {
    text-align: left;
    font-size: 14px;
    outline: none !important;
    border-radius: 20px;
    height: 20px;
    padding: 6px 6px 6px 10px;
    border: none;
    background-color: rgb(240, 240, 240);
    caret-color: rgb(94, 94, 94);
}

.account-input-label {
    margin-left: 6px;
}

.account-info-container, .account-picker-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 100%;
    overflow-y: scroll;
}

.account-container {
    height: 100%;
}

.account-picker {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(197, 197, 197);
    width: 90%;
}

.account-picker-label {
    font-weight: bold;
}

.account-picker-description {
    font-size: 14px;
    color: rgb(105, 105, 105);
}

.min-farm-order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.min-order-input {
    border-radius: 0 20px 20px 0;
    padding: 4px;
    width: 60px;
}

.min-order-dollar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding: 4px 0px 4px 4px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px 0 0 20px;
    font-size: 14px;
}

.toggle-button-circle {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.toggle-button-container-true, .toggle-button-container-false {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 23px;
    border-radius: 23px;
    padding: 2px;
    transition: .2s ease-in-out;
}

.toggle-button-container-true {
    justify-content: flex-end;
    background-color: var(--bold-green);
}

.toggle-button-container-false {
    background-color: grey;
    justify-content: flex-start;
} 

.notification-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.delete-button {
    align-self: center;
    justify-self: flex-end;
    background-color: var(--delete-red);
    border: none;
}

.account-info-save-button {
    align-self: center;
    justify-self: flex-end;
    border: none;
}

.account-save-button {
    margin-right: 20px;
}

.account-settings-name {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 20px 5px;
}
